
// Color Variables
$background: #FFFFFF;

img {
  max-height: 220px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: $background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Chart-row {
  width: 70%;
  max-width: 1000px;
}
.App-link {
  color: #585858;
}

.Hidden-Row {
  visibility: hidden;
}

.Small-Btn {
  font-size: 16px;
  margin: 10px;
}

.Large-Btn {
  font-size: 24px;
}
