.line-chart {
  .highlight-line path {
    stroke-width: 3px !important;

    &.d3-line-chunked-undefined {
      stroke-width: 0 !important;
    }
  }

  .series-overlay {
    fill: #fff;
    opacity: 0.7;
  }

  .highlight-ref-line {
    stroke: rgba(0, 0, 0, 0.2);
    stroke-width: 1px;
  }

  .constant-line {
    pointer-events: none;
    stroke-dasharray: 4, 2;
    stroke: #aaa;
    stroke-opacity: 0.5;
  }
  
  // Incident Styles Variables
  $good-color: #44BD1D;
  $good-light-color: rgb(160, 208, 144);
  $bad-color: orangered;
  $bad-light-color: rgb(236, 171, 122);
  $incident-color: red;

  // Incident Styles

  .incident-arrow-line {
    stroke-width: 5px !important;
    stroke: $incident-color;
  }

  .incident-arrow-tri {
    stroke-width: 1px !important;
    fill: $incident-color;
  }

  .good-incident-line {
    stroke-width: 3px !important;
    stroke: $good-color;
  }

  @mixin good-incident-area {
    fill: rgb(155, 189, 144);
    stroke: $good-color;
    fill-opacity: .5;
  }

  .good-incident-area-no-border {
    @include good-incident-area;
    stroke-width: 0px !important;
  }

  .good-incident-area-with-border {
    @include good-incident-area;
    stroke-width: 3px !important;
  }

  .bad-incident-line {
    stroke-width: 3px !important;
    stroke: $bad-color;
  }

  @mixin bad-incident-area {
    fill: #DE8531;
    stroke: $bad-color;
    fill-opacity: .5;
  }

  .bad-incident-area-no-border {
    @include bad-incident-area;
    stroke-width: 0px !important;
  }

  .bad-incident-area-with-border {
    @include bad-incident-area;
    stroke-width: 3px !important;
  }

  @mixin incident-area {
    fill: $incident-color;
    stroke: $incident-color;
    fill-opacity: .3;
  }

  .incident-area-no-border {
    @include incident-area;
    stroke-width: 0px !important;
  }

  .incident-area-with-border {
    @include incident-area;
    stroke-width: 3px !important;
  }

  .good-incident-shading {
    fill: $good-color;
    fill-opacity: .5;
  }

  @mixin good-incident-shading {
    fill-opacity: .5;
  }

  .good-incident-shading-bold {
    @include good-incident-shading;
    fill: $good-color;
  }

  .good-incident-shading-light {
    @include good-incident-shading;
    fill: $good-light-color;
  }

  @mixin bad-incident-shading {
    fill-opacity: .5;
  }

  .bad-incident-shading-bold {
    @include bad-incident-shading;
    fill: $bad-color;
  }

  .bad-incident-shading-light {
    @include bad-incident-shading;
    fill: $bad-light-color;
  }

  @mixin hover-text {
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .incident-hover-text {
    @include hover-text;
    color: $incident-color;
  }

  .good-hover-text {
    @include hover-text;
    color: $good-color;
  }

  .bad-hover-text {
    @include hover-text;
    color: $bad-color;
  }
}
