.line-chart {
  .highlight-line path {
    stroke-width: 3px !important;

    &.d3-line-chunked-undefined {
      stroke-width: 0 !important;
    }
  }

  .series-overlay {
    fill: #fff;
    opacity: 0.7;
  }

  .highlight-ref-line {
    stroke: rgba(0, 0, 0, 0.2);
    stroke-width: 1px;
  }

  .constant-line {
    pointer-events: none;
    stroke-dasharray: 4, 2;
    stroke: #aaa;
    stroke-opacity: 0.5;
  }

  .incident-arrow-line {
    stroke-width: 5px !important;
    stroke: red;
  }

  .incident-arrow-tri {
    stroke-width: 1px !important;
    fill: red;
  }

  .good-incident-line {
    stroke-width: 3px !important;
    stroke: #44BD1D;
  }

  .good-incident-area {
    fill: rgb(155, 189, 144);
    stroke-width: 3px !important;
    stroke: #44BD1D;
  }

  .bad-incident-line {
    stroke-width: 3px !important;
    stroke: orangered;
  }

  .bad-incident-area {
    fill: rgb(212, 161, 141);
    stroke-width: 3px !important;
    stroke: orangered;
  }
}
